/CRMCreateUpdateDeletePlugin/obj/
/CRMCreateUpdateDeletePlugin/CRMCreateUpdateDeletePlugin.csproj
/CRMCreateUpdateDeletePlugin/CRMCreateUpdateDeletePlugin.sln
/CRMCreateUpdateDeletePlugin/PluginCUD.pfx
/CRMAssociateDesociatePlugin/obj/
/CRMAssociateDesociatePlugin/CRMAssociateDesociatePlugin.csproj
/CRMAssociateDesociatePlugin/CRMAssociateDesociatePlugin.sln
/CRMAssociateDesociatePlugin/PluginAD.pfx
/CRMAssociateDesociatePlugin/.vs/
/CreateEmailPlugin/obj/
/CreateEmailPlugin/CreateEmailPlugin.csproj
/CreateEmailPlugin/CreateEmailPlugin.sln
/CreateEmailPlugin/ActionKey.pfx
/CreateEmailPlugin/.vs/