/CRMCreateUpdateDeletePlugin/obj/
/CRMCreateUpdateDeletePlugin/CRMCreateUpdateDeletePlugin.csproj
/CRMCreateUpdateDeletePlugin/CRMCreateUpdateDeletePlugin.sln
/CRMCreateUpdateDeletePlugin/PluginCUD.pfx